@font-face {
  font-family: "OpenSans SemiBold";
  src: url("../../assets/fonts/OpenSans-SemiBold.ttf");
  src: url("../../assets/fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("../../assets/fonts/Montserrat-Regular.ttf");
  src: url("../../assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("../../assets/fonts/Montserrat-Medium.ttf");
  src: url("../../assets/fonts/Montserrat-Medium.ttf") format("truetype");
}
