// Colours
$color-primary: #a287f4;
$color-primary-active: #b59ff6;
$color-easy: #15c79c;
$color-easy-active: #44d2b0;
$color-med: #f4dc87;
$color-med-active: #f6e39f;
$color-hard: #fd6584;
$color-hard-active: #fd849d;
$color-light: #acacac;
$color-dark: #353535;
$color-dark2: #525252;
$color-background: #000000;

// Opacity
$op-primary: 0.4;

// Fonts
$opensans-semibold: "OpenSans SemiBold", Helvetica, Arial, sans-serif;
$montserrat-regular: "Montserrat Regular", Helvetica, Arial, sans-serif;
$montserrat-medium: "Montserrat Medium", Helvetica, Arial, sans-serif;

// Border Radius
$br-primary: 10px;
