// Colours
$color-primary: #3965b2;
$color-primary-active: #29497f;
$color-secondary: #1fa699;
$color-secondary-active: #167369;
$color-light: #dddddd;
$color-high: #eb4645;
// $color-med: #f6723b;
$color-med: #f6953b;
$color-purple: #b83bf6;

// Backgrounds
$bg-gradient-right: linear-gradient(to right, #3965b2, #45c1c8);
$bg-gradient-bottom: linear-gradient(#3965b2, #45c1c8);
$bg-gradient-light: linear-gradient(#dddddd, #ffffff);

// Opacity
$op-primary: 0.4;

// Fonts
$opensans-semibold: "OpenSans SemiBold", Helvetica, Arial, sans-serif;
$montserrat-regular: "Montserrat Regular", Helvetica, Arial, sans-serif;
$montserrat-medium: "Montserrat Medium", Helvetica, Arial, sans-serif;

// Border Radius
$br-primary: 5px;
