@import "../../styles/scss/global.scss";

.history {
  &__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__list {
    display: flex;
    flex-direction: column;
    background-color: $color-dark;
    border-radius: $br-primary;
    //  overflow-y: overlay;
    height: 100%;
    overflow-x: hidden;

    // @include noScrollbar;
  }

  &__itemWrapper {
    @include flexCenter;
    flex-direction: column;
    border: 1px cyan solid;
  }

  &__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    // max-height: 50px;
    padding: 5px 5px;
    flex-shrink: 0;
    transition: 0.2s;
    overflow: hidden;
    background-color: $color-dark;
    border-bottom: solid $color-dark 0.1px;
    border: 1px yellow solid;

    &--even {
      background-color: $color-dark2;
    }

    &:hover {
      // background-color: $color-dark;
      filter: brightness(1.2);
      cursor: pointer;
    }

    &Column {
      padding: 0 4px;

      &--title {
        flex: 3;
      }
      &--difficulty {
        flex: 1;

        &Easy {
          color: $color-easy;
        }
      }
      &--date {
        flex: 1;
      }
    }
  }

  &__title {
    // color: $color-primary;
    box-shadow: 0px 2px 10px #00000025;
    // position: -webkit-sticky;
    // position: sticky;
    // top: 0;
    background-color: transparent;
    pointer-events: none; //cancel hover
    border: none; // cancel border
  }
}

.question {
  &__wrapper {
    width: 100%;
    height: 100px;
  }
}
