@import "../styles/scss/global.scss";

.matching {
  &__div {
    margin: 20px 0;
    @include flexCenter;
    flex-direction: column;
    padding-bottom: 60px;
    border-bottom: 1px solid grey;
  }

  &__cards {
    margin-top: 20px;
    width: 100%;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include ip {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  }
}

.pastAttempts {
  &__div {
    margin: 20px 0;
    width: 100%;
    @include flexCenter;
    flex-direction: column;
  }
}
