@import "../styles/scss/global.scss";

.header {
  &__wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
  }

  &__details {
    display: flex;
    gap: 20px;
    margin-right: 10px;
    @include flexCenter;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    flex: 1;
    //@include flexCenter;
  }

  &__leave {
    flex: 1;
    max-width: 100px;
    @include flexCenter;
  }

  &__submit {
    max-width: 150px;
    min-width: 80px;
    flex: 1;
    @include flexCenter;
  }
}
.body {
  padding: 0 2%;
  display: flex;
  gap: 5px;
  height: 100%;
  // height: 500px;
  background-color: pink;
}
.question {
  &__wrapper {
    flex: 1 1 0;
    width: 0;

    background-color: $color-dark;
    padding: 2%;
    // overflow-y: overlay;
    overflow: scroll;
    //  @include customScrollbar;
  }
  &__data {
    color: white;
    font-family: $montserrat-regular;
  }
}

.rightSide {
  &__wrapper {
    flex: 1 1 0;
    width: 0;
    display: flex;
    flex-direction: column;
  }

  &__code {
    flex: 3;
  }

  &__videos {
    flex: 2;
    display: flex;
    width: 100%;
  }

  &__video {
    position: relative;
    bottom: 0;
    left: 0;
    border: 2px yellow solid;
  }

  &__label {
    background-color: #00000050;
    // height: 24px;
    padding: 2px;
    position: absolute;
    @include flexCenter;
    z-index: 5;
  }
}
