@import "../../styles/scss/global.scss";

.text {
  font-family: $montserrat-regular;
  font-size: 16px;
  // max-width: 100%;
  // height: 100%;
  text-overflow: wrap;
  color: white;
}

.bold {
  font-family: $montserrat-medium;
}

.green {
  color: $color-easy;
}

.yellow {
  color: $color-med;
}

.red {
  color: $color-hard;
}
