@import "../../styles/scss/global.scss";

.text {
  font-family: $montserrat-regular;
  font-size: 22px;
  margin: 0;
  text-overflow: wrap;
  color: white;
  line-height: 1.5;

  @include mb {
    font-size: 20px;
  }
}

.bold {
  font-family: $montserrat-medium;
}
