@import "../../styles/scss/global.scss";

.text {
  font-family: $montserrat-regular;
  color: $color-primary;
  transition: 0.2s;

  &:hover {
    color: $color-primary-active;
    cursor: pointer;
  }
}
