@import "../../styles/scss/global.scss";

.wrapper {
  background-color: $color-primary;
  width: 310px;
  height: 60px;
  border-radius: 32px;
  @include flexCenter;
  text-transform: uppercase;
  color: black;
  transition: 0.2s;

  @include mb {
    width: 100%;
  }

  &:hover {
    background-color: $color-primary-active;
    cursor: pointer;
  }
}
